
img{
    width: 80%;
    height: 80%;
}

.imagem {
  position: relative;
  margin: auto;
}

.imagem span {
  position: absolute;
  opacity: 0;
  padding-top: 0;
  align-content: center;
  background-color: white;
  color: black;
  right:0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.imagem:hover span {
  opacity: 0.4;
  visibility: visible;
  bottom: 0;
  transition:opacity 0.3s;
}

