
 img {
 	width: 90%;
 }

.imagem {
  position: relative;
  margin: auto;
}

.imagem span {
  position: absolute;
  opacity: 0;
  bottom: 200px;
  width: 100%;
  background-color: white;
  color: black;
  left: 0;
  top: 0;
  margin: auto;
}

.imagem:hover span {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  transition: all;
}

