
img{
    width: 100%;
    height: 100%;
}

.imagem {
  position: relative;
  margin: auto;
}
#title{
 line-height: 500px;
}
.imagem span {
  position: absolute;
  opacity: 0;
  padding-top: 0;
  align-content: center;
  background-color: white;
  color: black;
  right:0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.imagem:hover span {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  opacity:100%;
  transition:opacity 0.3s;
}

